@import url(http://fonts.googleapis.com/css?family=Molengo);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

#banner {
	padding: 0;
}

DIV#banner {
	height: 65px;
}

#banner img {
	border: none;
	top: 6px;
}

#bannerLeftText {
	color: gray;
	font: 20px "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
	text-transform: capitalize;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	text-align: left;
	border-left-style: solid;
	padding-left: .8em;
}

#bannerLeftimg {
	margin: 0;
	padding: 4px 10px 6px 4px;
}

#bannerRight {
	width: 200px;
	float: right;
	border: none;
	background-color: #eee;
	margin-top: 14px;
	margin-right: 10px;
	position: relative;
}

#bannerRightText p {
	font: 1.2em "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
	color: gray;
	text-align: center;
	margin: 10px;
}

div.clear {
	clear: both;
	visibility: hidden;
}

div.clear hr {
	display: none;
}

.xright {
	float: right;
}

.xright a:link,.xright a:visited,.xright a:active {
	color: #666;
}

.xright a:hover {
	color: #030;
}

body {
	background-color: #fff;
	font-family: Molengo, 'Lucida Grande', Arial, Helvetica, sans-serif;
	background-repeat: repeat-y;
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
}

body ul {
	list-style-type: square;
}

body li {
	margin-top: 2px;
	margin-bottom: 2px;
}

#bodyColumn p {
	line-height: 1.3em;
	text-align: justify;
	padding-left: 20px;
	font-size: 1.0em;
}

em {
	text-decoration: none;
	font-weight: 700;
	font-style: italic;
}

.news {
	font-size: x-small;
}

h2 {
	font-size: 1.2em;
	color: #333;
	margin-top: 6px;
	margin-bottom: 6px;
}

h3 {
	color: #333;
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	background-image: url(./images/h3.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	font-variant: small-caps;
	padding: 4px 4px 4px 24px;
}

h4 {
	border-bottom: 1px solid #aaa;
	color: #49635a;
}

code {
	font-family: 'Ubuntu Mono', sans-serif;		
	line-height: 1.3em;
	font-size: 1.0em;
	display: inline;
	white-space: normal;
}

pre {
	margin: 2px;
	padding: 0px;
	padding-left: 20px;
}

pre code {
	color: #0f0;
	background-color: #000;
	float: none;
	clear: none;
	position: relative;
	width: 50em;
	margin: 1px;
	padding: 3px;
	font: medium 'Ubuntu Mono', sans-serif;
	display: block;
	white-space: pre;
}

.strike {
	text-decoration: line-through;
	display: inline;
}

#leftColumn {
	width: 170px;
	float: left;
	overflow: auto;
	border-top-color: #ccc;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #ccc;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #F8F8F8;
	margin: 10px 0;
}

#bodyColumn {
	margin-right: 1.5em;
	margin-left: 197px;
}

.section {
	padding: 4px;
}

.news_section {
	background-color: #faf5f6;
	display: block;
	border: 1px dotted #c9beb3;
	margin: 2px;
	padding: 6px;
}

#footer {
	font-size: x-small;
	border-top: solid #ccc 1px;
	color: #333;
	vertical-align: middle;
	margin: 10px 0;
	padding: 10px;
}

#navcolumn {
	background-color: #F8F8F8;
	padding: 8px 4px 0 8px;
}

#navcolumn h5 {
	font-size: smaller;
	border-bottom: 1px solid #aaa;
	color: #49635a;
	background-image: url(./images/h5.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0;
	padding: 2px 0 0 9px;
}

#navcolumn ul a {
	color: #333;
}

#navcolumn ul {
	font-size: small;
	margin: 5px 0 15px;
	padding: 0;
}

#navcolumn li {
	list-style-type: none;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 16px;
	list-style-position: outside;
	line-height: 1.2em;
	font-size: smaller;
}

#navcolumn li.expanded {
	background-image: url(./images/expanded.gif);
}

#navcolumn li.collapsed {
	background-image: url(./images/collapsed.gif);
}

#navcolumn img {
	margin-top: 10px;
	margin-bottom: 3px;
}

.navSection {
	margin-bottom: 2px;
	padding: 8px;
}

.navSectionHead {
	font-weight: 700;
	font-size: x-small;
}

#breadcrumbs {
	font-size: 0.9em;
	height: 13px;
	background-image: url(./images/breadcrumbs.jpg);
	margin: 0;
	padding: 1px 10px 14px 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: #47a;
}

a:visited {
	color: #386591;
}

.section p a:hover {
	text-decoration: underline;
}

#downloadbox {
	width: 170px;
	float: right;
	border: 1px solid #999;
	background-color: #eee;
	margin: 0 1em 2em 2em;
	padding: 1em;
}

#downloadbox h5 {
	border-bottom: 1px solid #aaa;
	font-size: smaller;
	margin: 0;
	padding: 0;
}

#downloadbox p {
	margin-top: .4em;
	margin-bottom: 0;
}

#downloadbox p a {
	color: #47a;
	font-weight: inherit;
}

#downloadbox ul {
	margin-top: .4em;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

#downloadbox li {
	font-size: .85em;
	padding-bottom: .15em;
}

#downloadbox li p {
	font-size: .95em;
	border: 1px solid #999;
	background-color: #ccc;
	font-weight: 700;
	margin: 5px;
	padding: .15em;
}

#bannerLeft,.xleft {
	float: left;
	position: relative;
}

#navcolumn ul a:hover,a:active,a:hover {
	color: #ff533c;
}